<div class="card text-center">
  <div class="card-header">
    <%= @user.name %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @user.email %></h5>
    <p class="card-text"><%= "Productos a la venta: #{@user.products.count}"%></p>
    <%= link_to 'Home', root_path, class:'btn btn-primary' %>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
